.my-Bg{
    background-color: rgb(13, 171, 171);
}

.sec-my-bg{
    background-color: aquamarine;
}

.my-text-color{
    color: rgb(13, 171, 171);
}

.my-text{
    text-align: justify;
}

.my-size{
    font-size: 30px;
}